.container{
  width: 1500px;
  height: 850px;
  border: 1px solid white;  
  position: relative;
  .prevBtn{
    left: 0;
    position: absolute;
    font-size: 50px;
    z-index: 999;
  }
  .nextBtn{
    right: 0;
    position: absolute;
    font-size: 50px;
    z-index: 999;
  }
  .navDiv{
    height: 80px;
    display: flex;
    flex: nowrap;
    overflow: hidden;
    background-color: white;
    div{
      height: 80px;
      min-width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s ease-in-out;
    }
    .dayNavDiv{
      min-width: 20%;
    }
  }
  .titleDiv{
    height: 50px;
    text-align: center;
    background-color: aquamarine;
    h1{
      font-size: 30px;
      margin: 0;
    }
  }
  .contentDiv{
    height: 770px;
    width: 1500px;
    display: flex;
    .mapDiv{
      height: 100%;
      width: 100%;
      background-color: antiquewhite;
    }
    .planDiv{
      height: 100%;
      width: 100%;
      background-color: white;
      .setPlanFrom{
        display: flex;
        flex-direction: column;
        input{
          width: 300px;
        }
      }
    }
  }
}